body {
  background: #37b2c3;
}

.piano {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-keys {
  fill: white;
  transition: all 0.1s ease-in-out;
}

.white-keys:hover {
  fill: #ffd200;
}
.white-keys:focus {
  fill: #ffd200;
}

.black-keys {
  fill: black;
  transition: all 0.1s ease-in-out;
}

.black-keys:hover {
  fill: #f40082;
}
/* .black-keys:focus {
  fill: #f40082;
} */
